<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="lista-peliculas"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="pelicula">
    <ion-img  *ngIf="innerWidth >= 820" style="width: 20rem;" [src]="'https://image.tmdb.org/t/p/original/' + pelicula.poster_path"></ion-img>
    <ion-grid>
      <ion-row *ngIf=" 820 > innerWidth">
        <ion-col style=" padding-bottom: 1rem;">
          <ion-img style="width: 18rem; display:block; margin: auto;" [src]="'https://image.tmdb.org/t/p/original/' + pelicula.poster_path"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2.5">
          Name: 
        </ion-col>
        <ion-col>
          {{pelicula.title}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2.5">
          Overview: 
        </ion-col>
        <ion-col>
          {{pelicula.overview}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2.5">
          Popularity: 
        </ion-col>
        <ion-col>
          {{pelicula.popularity}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2.5">
          Release Date: 
        </ion-col>
        <ion-col >
          {{pelicula.release_date}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2.5">
          Genre: 
        </ion-col>
        <ion-col >
          <ion-label *ngFor="let genero of pelicula.genres">
            {{genero.name}}
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2.5">
          Languages: 
        </ion-col>
        <ion-col >
          <ion-label *ngFor="let idioma of pelicula.spoken_languages">
            {{idioma.english_name}}
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2.5">
          Adult Content: 
        </ion-col>
        <ion-col *ngIf="pelicula.adult; else noAdult">
          Yes
        </ion-col>
        <ng-template #noAdult>
          <ion-col>
            No
          </ion-col>
        </ng-template>
      </ion-row>
      <ion-row>
        <ion-col size="2.5">
          Production Companies: 
        </ion-col>
        <ion-col>
          <ion-label *ngFor="let companyas of pelicula.production_companies">
            {{companyas.name}}
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
