<ion-header>
  <ion-toolbar>
    <ion-title style="padding-top: 1rem; padding-bottom: 0.5rem">Search Movie</ion-title>
    <ion-searchbar placeholder="Movie Name" (input)="onSearchChange($event.target.value)"></ion-searchbar>
    <!-- <ion-input  (input)="onSearchChange($event.target.value)" placeholder="Buscar Película"></ion-input> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col >
        <ion-list>
          <ion-item *ngFor="let pelicula of peliculas" [routerLink]="['/detalle-pelicula/' + pelicula.id]">
            <ion-label class="ion-text-center">{{pelicula.title}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
